/* шрифты */

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/opensanslight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url('../fonts/opensans.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroyextrabold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroylight.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* глобальные стили */

body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.main-header {
  position: relative;
  min-height: 300px;
  margin-top: 40px;
  padding: 0 60px;
  background-color: #f7e296;
  color: #000000;
}

.main-header-logo {
  position: absolute;
  top: -18px;
  left: 62px;
}

.main-header-top-wrapper {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 28px;
  align-items: baseline;
  padding-top: 34px;
}

.site-search-form {
  position: relative;
  display: flex;
  width: 440px;
  margin-right: 100px;
  line-height: 30px;
}

.site-search-form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 50px;
  height: 50px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
}

.main-header-user-nav-link, .search-button, .site-search-form {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
}

.search-input {
  position: relative;
  font-weight: 300;
  width: 357px;
  margin: 0;
  padding: 8px 0 8px 40px;
  line-height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  color: rgba(0, 0, 0, .3);
}

.search-input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-input:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-input:focus {
  color: #000000;
  border-bottom-color: #000000;
  outline: none;
}

.search-input:focus+.search-button {
  visibility: visible;
}

.search-button {
  padding: 8px 18px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.01em;
  text-transform: none;
  color: #000000;
  background-color: transparent;
  border: 2px solid #000000;
  visibility: hidden;
}

.search-button:hover, .search-button:focus {
  color: #ffffff;
  background-color: #000000;
  visibility: visible;
}

.search-button:focus {
  visibility: visible;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
  visibility: visible;
}

.main-header-user-nav-link {
  position: relative;
  padding-left: 30px;
  line-height: 30px;
  color: #000;
  letter-spacing: .01em;
}

.main-header-user-nav-link:hover, .main-header-user-nav-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.main-header-user-nav-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-header-user-nav-link:focus::before, .main-header-user-nav-link:hover::before {
  opacity: 0.6;
}

.main-header-user-nav-link:active::before {
  opacity: 0.3;
}

.main-header-user-nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.main-header-user-nav-profile {
  padding-left: 27px;
}

.main-header-user-nav-compare {
  margin-right: 33px;
  margin-left: auto;
}

.main-header-site-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  list-style: none;
}

.main-header-site-navigation a {
  text-transform: uppercase;
  font-family: Gilroy, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: .2em;
  color: #000;
}

.main-header-site-navigation a:hover, .main-header-site-navigation a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.main-header-site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-header-site-nav-catalog {
  width: 250px;
  margin-right: 290px;
}

.main-header-site-nav-catalog>a {
  position: relative;
}

.main-header-site-nav-catalog>a::after {
  content: "";
  position: absolute;
  top: 3px;
  right: -27px;
  width: 16px;
  height: 16px;
  background-image: url("../img/plus.svg");
  opacity: 0.3;
}

.main-header-site-nav-catalog:first-child:hover .catalog-categories-list, .main-header-site-nav-catalog:first-child>a:focus+.catalog-categories-list {
  display: flex;
}

.main-header-site-nav-delivery {
  margin-right: 35px;
}

.main-header-site-nav-contacts {
  margin-left: auto;
}

.catalog-categories-list {
  position: absolute;
  left: 0;
  z-index: 5;
  display: none;
  width: 1040px;
  margin: 0;
  background-color: #f7e296;
  padding: 20px 60px 36px;
}

.catalog-categories-sublist {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
  background-color: #f7e296;
  z-index: 1;
}

.catalog-categories-sublist a {
  text-transform: none;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: normal;
  line-height: 36px;
  color: #000;
}

.catalog-categories-list ul:first-child {
  width: 220px;
  margin-right: 20px;
}

.catalog-categories-list ul:nth-child(2) {
  width: 180px;
  margin-right: 20px;
}

.catalog-categories-sublist ul:last-child {
  width: 200px;
}

/* main */

.main-content-bottom-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.contacts, .about-us {
  width: 560px;
  position: relative;
}

.main-content-bottom-wrapper h2 {
  margin-bottom: 43px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
}

.contacts p, .about-us p {
  margin-bottom: 30px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #000;
  letter-spacing: 0;
}

.about-us-delivery {
  margin: 65px 0 54px -3px;
  list-style: none;
}

.about-us-delivery li {
  position: relative;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  color: #000;
  line-height: 40px;
  letter-spacing: 0;
}

.about-us-delivery li::before {
  content: "";
  position: absolute;
  top: 16px;
  left: -36px;
  width: 5px;
  height: 5px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.contacts p {
  margin-bottom: 38px;
}

.contacts-map-link {
  display: block;
  width: 560px;
  height: 222px;
  margin-bottom: 65px;
}

.modal-link {
  position: relative;
  z-index: 1;
  padding: 8px 42px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.modal-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  top: 50%;
  left: 0;
  z-index: -1;
  background-color: #f0c52e;
  transform: translateY(-50%);
  transition: height 0.3s;
}

.modal-link:hover::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #f0c52e;
  transition: height 0.3s;
}

.modal-link:active {
  color: rgba(0, 0, 0, 0.3);
  background-image: none;
  background-color: #f0c52e;
}

.main-content-bottom-wrapper .modal-link {
  display: block;
  width: 260px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

/* footer */

.main-footer {
  padding-top: 63px;
  padding-bottom: 17px;
  background-color: #464646;
}

.footer-upper-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}

.main-footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-user-navigation {
  display: flex;
}

.footer-user-navigation li {
  margin-left: 33px;
}

.footer-user-navigation a {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: rgba(255, 255, 255, .7);
  position: relative;
  padding-left: 30px;
  letter-spacing: .01em;
}

.footer-user-navigation a:hover, .footer-user-navigation a:focus {
  color: #ffffff;
}

.footer-user-navigation a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-user-navigation a:hover::before {
  opacity: 0.6;
}

.footer-user-navigation a:active::before {
  opacity: 0.3;
}

.footer-user-navigation a::before {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer-user-navigation-login a::before {
  background-image: url("../img/user-inverse.svg");
  left: -7px;
}

.footer-user-navigation-cart a::before {
  background-image: url("../img/cart-inverse.svg");
}

.footer-user-navigation-compare a::before {
  background-image: url("../img/compare-inverse.svg");
}

.footer-logo {
  margin: 5px 0;
}

.footer-lower-wrapper::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.footer-lower-wrapper, .footer-central-wrapper {
  position: relative;
  margin-bottom: 45px;
  display: flex;
  align-items: baseline;
}

.footer-address-building {
  text-align: left;
}

.footer-address-phone {
  text-align: right;
}

.footer-address-phone, .footer-address-building {
  width: 250px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0;
  color: #fff;
  margin: 15px 0;
}

.main-footer .footer-site-navigation {
  margin: 0 auto;
  width: 428px;
  display: flex;
  justify-content: space-between;
}

.footer-site-navigation a {
  text-transform: uppercase;
  font-family: Gilroy, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: .2em;
  color: #fff;
}

.footer-site-navigation a:hover, .footer-site-navigation a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-site-navigation a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-longdash {
  width: 80px;
}

.footer-social {
  margin: 0 auto;
}

.footer-social ul {
  display: flex;
  justify-content: space-between;
  width: 140px;
}

.social-button {
  color: #ffffff;
}

.social-button img {
  opacity: 0.3;
}

.social-button img:hover {
  opacity: 0.6;
}

.social-button img:active {
  opacity: 0.1;
}

.footer-copyright {
  width: 80px;
  text-align: right;
}

.footer-copyright:hover img, .footer-copyright:focus img {
  opacity: 0.6;
}

.footer-copyright:active img {
  opacity: 0.3;
}

.main-header-user-nav-profile {
  margin-right: 19px;
  padding-left: 28px;
}

.main-header-user-nav-profile::before {
  background-image: url("../img/user.svg");
  background-position: 0 50%;
}

.main-header-user-nav-compare::before {
  background-image: url("../img/compare.svg");
}

.main-header-user-nav-cart::before {
  background-image: url("../img/cart.svg");
}

.main-header-user-nav-logout {
  padding-left: 0px;
  color: rgba(0, 0, 0, 0.3);
}

.page-catalog .main-header {
  min-height: 185px;
  margin-bottom: 37px;
}

.catalog-page-top-wrapper h1 {
  margin-bottom: 25px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.013em;
  color: #000000;
}

.catalog-page-top-wrapper {
  padding: 0 60px;
  margin-bottom: 45px;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  margin-right: 37px;
  padding: 0;
  list-style: none;
}

.breadcrumbs a::after {
  content: "";
  position: absolute;
  top: 6px;
  right: -20px;
  z-index: 1;
  width: 7px;
  height: 7px;
  border-radius: 50px 0 0 0;
  transform: rotate(-45deg) scale(0.73);
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.breadcrumbs a:hover, .breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs li {
  margin-right: 37px;
}

.breadcrumbs a, .breadcrumbs .breadcrumbs-current {
  position: relative;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.01em;
}

.catalog-content .container {
  display: flex;
}

.catalog-content .filter {
  box-sizing: border-box;
  width: 330px;
  padding-left: 60px;
  padding-top: 70px;
  background-color: #eeeeee;
}

.catalog-filter-form {
  width: 200px;
  padding-right: 70px;
}

.catalog-filter-form fieldset {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  position: relative;
  border: none;
}

.catalog-filter-form fieldset::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
}

.catalog-filter-form legend {
  margin-bottom: 18px;
  padding-top: 12px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
  font-weight: 800;
  letter-spacing: 0.01em;
  color: #000000;
}

.catalog-filter-form ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-form label {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 40px;
  color: #000000;
  position: relative;
}

.form-label::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  left: 0;
}

.form-label {
  position: relative;
}

.form-input-cb:checked+.form-label::before {
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
}

.form-input-cb+.form-label::before {
  top: 0;
  background-image: url(../img/checkbox-off.svg);
}

.form-input-radio:checked+label::before {
  background-image: url(../img/radio-on.svg);
  background-repeat: no-repeat;
}

.form-input-radio+label::before {
  top: -5px;
  background-image: url(../img/radio-off.svg);
}

.button-show::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
  transition: height 0.3s;
}

.button-show:hover::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f0c52e;
  transition: height 0.3s;
}

.filter-list-bt label, .filter-list-color label {
  position: relative;
  padding-left: 39px;
  cursor: pointer;
}

.button {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  padding: 8px 35px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  background-color: transparent;
  border: none;
}

.catalog-items {
  padding-top: 50px;
  padding-left: 50px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: -11px;
  padding: 0;
  list-style: none;
  width: 780px;
}

.catalog-item {
  margin: 20px 20px 27px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 760px;
  min-height: 70px;
  box-sizing: border-box;
  margin: 20px 0 75px 20px;
  padding: 24px 0;
  background-color: #ebebeb;
}

.catalog-pagination-pages {
  list-style: none;
  display: flex;
  justify-content: space-between;
  min-width: 90px;
  margin: 0 0 0 15px;
  padding: 0;
}

.catalog-pagination-pages a {
  color: rgba(0, 0, 0, .3);
  font-size: 16px;
  line-height: 24px;
  color: #000;
  letter-spacing: .2em;
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 700;
}

.catalog-nav-button {
  padding: 0px 26px 0px 30px;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  letter-spacing: .2em;
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog-item-bottom-wrapper {
  display: flex;
  justify-content: space-between;
  width: 360px;
  margin-top: 27px;
}

.catalog-item-bottom-wrapper h3 {
  margin: 0;
  font-size: 18px;
}

.catalog-item-bottom-wrapper a {
  width: 260px;
  font-size: 18px;
  color: #000;
  font-family: Gilroy, Arial, sans-serif;
  line-height: 24px;
  letter-spacing: .01em;
  font-weight: 700;
}

.catalog-item-bottom-wrapper p {
  margin: 0 3px 0 0;
  font-size: 16px;
  font-weight: 400;
  color: #464646;
  letter-spacing: .01em;
  font-family: Gilroy, Arial, sans-serif;
  line-height: 24px;
}

.slider .container {
  position: relative;
}

.slider {
  position: relative;
  top: -112px;
  margin-bottom: -20px;
}

.slider-dots {
  position: absolute;
  bottom: 169px;
  right: 93px;
  z-index: 4;
  list-style: none;
  padding: 0;
  margin: 0;
}

.slider-dots li {
  display: inline-block;
  margin-right: 28px;
}

.slider-cb:checked+label::before {
  background-image: url(../img/slider-button.svg);
}

.slides-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slides-list-item {
  display: none;
}

.slides-list-item-image {
  width: 560px;
  text-align: center;
}

.slides-list-item-description::before {
  left: 0;
  top: 36px;
  width: 100px;
  height: 8px;
  background-color: #fff;
  content: "";
  position: absolute;
}

.slides-list-item-description::after {
  top: -13px;
  right: 47px;
  z-index: 0;
  font-size: 180px;
  line-height: 180px;
  color: #fff;
  letter-spacing: .01em;
  content: "";
  position: absolute;
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 700;
}

.slides-list-item:first-child .slides-list-item-description::after {
  content: "01";
}

.slides-list-item:nth-child(2) .slides-list-item-description::after {
  content: "02";
}

.slides-list-item:nth-child(3) .slides-list-item-description::after {
  content: "03";
}

.catalog-categories ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-categories a {
  font-size: 18px;
  line-height: 24px;
  color: #000;
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 700;
}

.catalog-categories .image-wrapper {
  position: relative;
  margin-bottom: 33px;
  width: 160px;
  height: 160px;
  background-color: #f7e296;
}

.catalog-categories-item p {
  white-space: normal;
  width: 160px;
}

.catalog-categories-item-link:active svg, .catalog-categories-item-link:active p {
  opacity: 0.3;
}

.catalog-categories-item .image-wrapper:hover {
  background-color: #f0c52e;
}

.catalog-categories svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slides-list-item-description {
  position: relative;
  width: 560px;
}

.slides-list-item-description-headline {
  z-index: 2;
  margin-top: 80px;
  margin-bottom: 18px;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: .01em;
  position: relative;
  font-weight: 700;
  color: #000;
  font-family: Gilroy, Arial, sans-serif;
}

.slides-list-item-description-content {
  width: 490px;
  margin-bottom: 43px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000;
}

.slides-list-item-description-link-wrapper {
  position: relative;
}

.slides-list-item-description-params {
  margin-top: 50px;
  margin-left: -2px;
  border-collapse: collapse;
  border-spacing: 0;
}

.slides-list-item-description-params tr:first-child {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: .01em;
}

.slides-list-item-description-params tr:last-child {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: .01em;
}

.slides-list-item-description-params td {
  width: 160px;
  padding: 0;
}

.slides-list-item-shown {
  display: flex;
}

.slider label {
  font-size: 0;
  position: relative;
}

.slider-dots label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  padding: 1px;
  font-size: 0;
  background-image: url(../img/slider-button-empty.svg);
  background-repeat: no-repeat;
  background-size: 12px;
  cursor: pointer;
}

.services {
  min-height: 385px;
  margin-bottom: 92px;
  background-color: #e5e5e5;
  background-image: linear-gradient(to bottom, #fff 0, #fff 25%, #e5e5e5 25%, #e5e5e5 100%);
}

.services .container {
  display: flex;
  min-height: 320px;
  padding-left: 2px;
}

.services-list-item.current {
  background-color: #000;
}

.services-list-item.current a.services-list-item-link {
  z-index: 2;
  color: #f7e184;
  background-image: none;
  background-color: #000;
}

.services-list-item-link {
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  display: block;
  width: 160px;
  padding: 8px 0;
  letter-spacing: .2em;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 700;
}

.services-list-item:not(.current) .services-list-item-link:not(:active)::after, .services-list-item:not(.current) .services-list-item-link:not(:hover)::after, .services-list-item:not(.current):not(:active) .services-list-item-link:not(:active)::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: -1;
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
  -webkit-transition: height .3s;
  -o-transition: height .3s;
  transition: height .3s;
}

.services-list-item:not(.current) .services-list-item-link:not(:active):hover::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #f0c52e;
  -webkit-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
}

.services-list-item .services-list-item-link:active::after, .services-list-item:not(.current):active .services-list-item-link::after {
  position: absolute;
  z-index: -1;
  background-color: #000000;
}

.services-list-item .services-list-item-link:active, .services-list-item.current a.services-list-item-link, .services-list-item:active .services-list-item-link {
  z-index: 2;
  color: #f7e184;
  background-image: none;
  background-color: #000000;
}

.services-content div {
  margin-left: 118px;
  margin-top: 70px;
  width: 460px;
  position: relative;
  display: none;
}

.services-content-headline {
  margin-bottom: 30px;
  font-family: Gilroy, Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: .01em;
}

.services-content-main {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: .01em;
  font-weight: 300;
}

.services-content div::after {
  content: "";
  position: absolute;
  top: -67px;
  left: 493px;
  width: 260px;
  height: 320px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.services-content div:nth-child(1)::after {
  background-image: url("../img/delivery.svg");
}

.services-content div:nth-child(2)::after {
  background-image: url("../img/warranty.svg");
}

.services-content div:nth-child(3)::after {
  background-image: url("../img/credit.svg");
}

.featured-brands ul {
  display: flex;
  margin: 0 0 100px;
  padding: 0;
  justify-content: space-between;
  list-style: none;
}

.featured-brands a {
  position: relative;
  display: block;
  width: 260px;
  height: 100px;
}

.featured-brands a:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
  height: 100px;
  z-index: 1;
}

.featured-brands a img:hover {
  opacity: 0;
}

.featured-brand-1:hover::before {
  background-image: url("../img/logo-1-hover.png");
}

.featured-brand-2:hover::before {
  background-image: url("../img/logo-2-hover.png");
}

.featured-brand-3:hover::before {
  background-image: url("../img/logo-3-hover.png");
}

.featured-brand-4:hover::before {
  background-image: url("../img/logo-4-hover.png");
}

.contacts h2::before, .about-us h2::before {
  top: -13px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000;
  position: absolute;
  content: "";
}

.services-list {
  display: flex;
  min-width: 277px;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  border-right: 7px solid #000;
  list-style: none;
}

.services-list-item {
  width: 100%;
  margin: 12px 0;
  padding: 0;
  text-align: center;
}

/* FIXME: sort and deduplicate all css */

.catalog-header .container {
  display: flex;
}

.catalog-content {
  background-image: linear-gradient(to right, #eee 0, #eee 28%, #fff 28%, #fff 100%);
}

.catalog-header {
  background-image: linear-gradient( to right, #dcdcdc 0%, #dcdcdc 50%, #ebebeb 50%, #ebebeb 100%);
}

.catalog-header-sorting {
  padding-top: 23px;
  padding-bottom: 23px;
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-grow: 1;
  background-color: #ebebeb;
}

.catalog-header-filter {
  width: 200px;
  padding: 23px 70px 23px 60px;
  margin-left: auto;
  background-color: #dcdcdc;
}

.catalog-header-sorting h2 {
  padding-left: 70px;
  width: 200px;
}

.services-content div {
  display: none;
}

.services-content div.services-content-shown {
  display: block;
}

.catalog-header-sorting ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.catalog-header-sorting h2, .catalog-header-filter h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .23em;
  color: #000;
  font-family: Gilroy, Arial, sans-serif;
  line-height: 24px;
  text-transform: uppercase;
}

.catalog-header-sorting a {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000;
}

.catalog-header-sorting-direction {
  display: flex;
  list-style: none;
  margin-left: auto;
}

.catalog-header-sorting-type {
  width: 460px;
  padding-left: 20px;
  display: flex;
  list-style: none;
}

.catalog-header-sorting-type li {
  margin-right: 30px;
}

.catalog-header-sorting-direction {
  margin-left: auto;
  position: relative;
}

.catalog-header-sorting-direction-desc::before, .catalog-header-sorting-direction-asc::before {
  content: "";
  display: inline-block;
  opacity: .2;
  margin-left: 2px;
  border: 12px solid #000;
  border-right-width: 6px;
  border-left-width: 6px;
  border-right-color: transparent;
  border-left-color: transparent;
}

.catalog-header-sorting-direction-asc::before {
  border-top-width: 0;
}

.catalog-header-sorting-direction-desc::before {
  border-bottom-width: 0;
}

.catalog-header-sorting-direction a {
  display: block;
  margin-left: 15px;
}

.modal {
  position: fixed;
  top: 120px;
  left: 50%;
  z-index: 4;
  display: none;
  transform: translateX(-50%);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .2);
}

.modal-shown {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-close {
  position: absolute;
  z-index: 3;
  top: 25px;
  right: 20px;
  width: 55px;
  height: 55px;
  font-size: 0;
  background-color: #f0c52e;
  opacity: 0.5;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
}

.modal-close::before, .modal-close::after {
  content: "";
  position: absolute;
  top: 26px;
  left: 14px;
  width: 50%;
  height: 2px;
  background-color: #ffffff;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-close:hover, .modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

.modal-feedback {
  /*display: block;*/
  width: 760px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 96px;
  padding-bottom: 80px;
  background-color: #ffffff;
}

.modal-feedback label {
  margin-bottom: 5px;
}

.modal-feedback .feedback-form-column {
  margin-bottom: 33px;
}

.modal-feedback input, .modal-feedback textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 16px 20px;
}

.modal-feedback textarea {
  min-height: 160px;
  width: 760px;
  resize: none;
}

.feedback-form input, .feedback-form label {
  display: block;
  width: 360px;
}

.write-as-textarea {
  width: 760px;
}

.feedback-form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}

.feedback-form label {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  letter-spacing: 0;
  color: #000000;
}

.feedback-form input, .feedback-form textarea {
  background-color: #f2f2f2;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  letter-spacing: 0;
  color: #000000;
  outline: none;
  border: 2px solid transparent;
}

.feedback-form .button {
  box-sizing: border-box;
  width: 200px;
  padding: 8px 35px;
}

.feedback-form input:hover, .feedback-form textarea:hover {
  background-color: #ebebeb;
}

.feedback-form input:focus, .feedback-form textarea:focus {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  color: #464646;
  background-color: #ffffff;
  border: 2px solid #f7e296;
}

.feedback-form input:invalid {
  background-color: #f6dada;
}

.feedback-form input::-moz-placeholder, .feedback-form textarea::-moz-placeholder {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  color: rgba(70, 70, 70, 0.4);
}

.feedback-form input::-webkit-input-placeholder, .feedback-form textarea::-webkit-input-placeholder {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  color: rgba(70, 70, 70, 0.4);
}

.feedback-form input:-ms-input-placeholder, .feedback-form textarea:-ms-input-placeholder {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  color: rgba(70, 70, 70, 0.4);
}

.button {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  padding: 8px 35px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  background-color: transparent;
  border: none;
}

.button:not(.search-button)::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
  -webkit-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
}

.button:not(.search-button):hover::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f0c52e;
  -webkit-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}
